/* index.css */
@import '~bootstrap/dist/css/bootstrap.min.css';



:root {
  /*
COLORS
*/
  --main-color: #405d27;
  --buttons-color: #c1946a;
  --fonts-color: #82b74b;
  --header-footer-color: #3e4444;
  --main-background-color: #fbf5e4;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*Navbar & Footer */
.navbar {
  background-color: var(--header-footer-color);
  position: sticky;
  padding: 10px 0;
  text-align: right;
  width: 100%;
  top: 0;
  left: 0;
  right: 100px;
}

.navbar a,
.footer a {
  color: var(--main-background-color);
  text-decoration: none;
  margin-right: 20px;
}

.navbar a:hover,
.footer a:hover {
  color: var(--buttons-color) !important;
}

.navbar a:visited,
.footer a:visited {
  color: var(--main-background-color);
}

.navbar a.active {
  color: var(--fonts-color) !important;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--header-footer-color);
  padding: 10px 0;
  width: 100%;
  height: 100px;
  font-weight: 200;
  font-size: small;
}

.footer span {
  color: var(--fonts-color);
}

.buttons {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: #fff;
  background-color: var(--main-color);
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.buttons:hover {
  background-color: var(--fonts-color);
}

/* HOME PAGE start */
/* first screen */
.screen1-bg {
  height: 100vh;
  position: relative;
  background-image: url('./images/draft.jpg');
  background-repeat: no-repeat;
  background-size: auto;
}

.screen1-moto {
  position: absolute;
  padding: 25px;
  height: 100px;
  width: 200px;
  bottom: 20%;
  right: 10%;

  background-color: rgba(255, 255, 255, .3);
  color: black;
}

/* carousel screen */
.carousel-container {
  height: 350px;
  padding: 0 15px;
}

.carusel-item {
  border: 1px solid black;
  border-radius: 5px;
  overflow: hidden;
  width: 200px;
  padding: 15px;
  box-shadow: 5px 5px 1px 5px #ececec;
}

.carousel-image {
  height: 150px;
  width: 100%;
}

.item-title {
  font-weight: 600;
}

/* form screen */
.discount-section {
  height: 80vh;
  position: relative;
  background-image: url('./images/draft.jpg');
  background-repeat: no-repeat;
  background-size: auto;
}

.inner-text {
  position: absolute;
  padding: 25px;
  height: 50vh;
  width: 600px;
  bottom: 10%;
  left: 30%;
  text-align: center;
  background-color: rgba(193, 58, 58, 0.3);
  color: black;
}

.discount-section h2 {
  font-size: 200% !important;
  font-weight: normal;
  color: var(--main-branding-color) !important;
  text-shadow: 1px 1px 2px var(--fonts-color);
  text-align: center;
  padding-top: 10px;
  padding-right: 20%;
  padding-left: 20px;
  letter-spacing: 3px;
  border-bottom: 1px solid var(--main-color);
  margin-bottom: 50px;
}

/* Form */
.formWrapper {
  min-height: 500px;
  height: 100vh;
}

.formNotice {
  display: flex;
  justify-content: center;
  margin: 15px;
}

.formContainer {
  width: 500px;
  margin: auto;
}

.formInput {
  width: 100%;
  margin: 15px 0;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  padding: 10px;
}

.formLabel {
  display: block;
}

.formLabel:not(:first-child) {
  padding-top: 2.25rem;
}

.formError {
  position: relative;
  height: 0;
  color: red;
}

.formError > span {
  position: absolute;
  top: -0.5rem;
}

.formBtn {
  border: none;
  background-color: var(--header-footer-color);
  color: white;
  border-radius: 5px;
  padding: 15px 30px;
  position: relative;
  margin-top: 15px;
 
}
.formBtnPlace {
  display: flex;
  justify-content: center;
}

.formBtn:hover{
  background-color: var(--main-branding-color);
  color: var(--main-background-color);
}



/* last screen */

/* HOME PAGE end */

.table {
  width: 100%;
  border-collapse: collapse;


}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  border: none;
}